<%= div_for comment do %> <!--creates a div for them-->
	<p>
		<strong>Posted <%=time_ago_in_words(comment.created_at)%></strong><br /> <!--time comment was posted-->
		<%= h(comment.body)%> <!--comment body-->
	</p>	
<% end %>