var new_comment = $("<%= escape_javascript(render(:partial => @comment))%>").hide(); <!--creates js variable called new_commnet.  Render the comment and escapes it to js (makes sure it is valid js).-->
$('#comments').prepend(new_comment); <!--finds div with id comments and prepends the new comment to that div (puts at beginning)-->
$('#comment_<%= @comment.id %>').fadeIn('slow'); <!--fades in new comment slowly -->
$('#new_comment')[0].reset(); <!--resets the form that used to submit commments so that user can submit another comment -->