<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<h2>Comments</h2> <!--SHOW COMMENTS-->
<div id="comments"> 
	<%= render :partial => @post.comments.reverse %> <!--put in place of code that was identical to code in "blog/views/comments/_comment.html.erb"-->
</div>


<!--FORM FOR NEW COMMENTS-->
<%= form_for([@post, Comment.new], remote: true) do |f| %> <!--will be submitted using jQuery's ajax method.-->
	<p><%= f.label :body, "New Comment" %><br/>
	   <%= f.text_area :body %>
	</p>
	<p><%= f.submit "Add Comment" %></p>
<% end %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %> 
